@import './styles/normalize.css';
@import './styles/variables.css';

body {
  font-size: var(--font-size-base);
  padding: 4rem;
  background: #F5E6CA;
  font-family: 'Jost', sans-serif;
}

.app {
  display: flex;
}

.sheet {
  font-size: 1.6rem;
  color: #F54748;
  background: aliceblue;
  margin-right: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 1px 5px 0 rgba(0,0,0,0.12),
              0 3px 1px -2px rgba(0,0,0,0.2);
}